<% unless Startup.all.count == 0 %>

  <div id="startups_carousel" class="carousel slide well">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item" >
        <!-- 1st startup that is shown is random -->
        <%= link_to image_tag(Startup.last.logo.url(:standard)), Startup.last %>
      </div>
      <% Startup.all.shuffle.each do |startup| %>
        <!-- rest are shuffled randomly and displayed -->
        <div class="item">
          <%= link_to image_tag(startup.logo.url(:standard)), startup %>
        </div>
      <% end %>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#startups_carousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#startups_carousel" data-slide="next">&rsaquo;</a>
  </div>

<% end %>
