<div id='testimonials'>
  <div class='container'>

    <div id="testimonials_carousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#testimonials_carousel" data-slide-to="0" class="active"></li>
        <li data-target="#testimonials_carousel" data-slide-to="1"></li>
        <li data-target="#testimonials_carousel" data-slide-to="2"></li>
        <li data-target="#testimonials_carousel" data-slide-to="3"></li>
      </ol>
      <!-- Carousel items -->
      <div class="carousel-inner">

        <div class="active item">
          <div class='row-fluid'>
            <div class='span1'>
            </div>
            <div class='span7'>
              <h3><i class='icon-quote-left icon-4x' style='color: #ddd; position: absolute; z-index: -1;'></i></h3>
              <h1 style='margin-top: 45px; margin-left: 8px;'>Work atmosphere is really positive and inspiring!</h1>
              <p>Darian Skarica, MashMe team member</p>
            </div>
            <div style='background-image: url(<%= asset_path 'people/darian_skarica.jpg' %>);'
                 class='span3 testimonials_picture'></div>
            <div class='span1'></div>
          </div>
        </div>

        <div class="item">
          <div class='row-fluid'>
            <div class='span1'>
            </div>
            <div class='span7'>
              <h3><i class='icon-quote-left icon-4x' style='color: #ddd; position: absolute; z-index: -1;'></i></h3>
              <h1 style='margin-top: 45px;'>Teams and people here in ZIP amaze me each day</h1>
              <p>Sasa Cvetojevic, founder</p>
            </div>
            <div class='span3'>
              <div style='background-image: url(<%= asset_path 'people/sasa_cvetojevic.jpg' %>);' class='testimonials_picture'></div>
            </div>
            <div class='span1'></div>
          </div>
        </div>

        <div class="item">
          <div class='row-fluid'>
            <div class='span1'>
            </div>
            <div class='span7'>
              <h3><i class='icon-quote-left icon-4x' style='color: #ddd; position: absolute; z-index: -1;'></i></h3>
              <h1 style='margin-top: 45px;'>You guys are absolutely on par with the rest of the world</h1>
              <p>Jon Bradford, Advisor</p>
            </div>
            <div class='span3'>
              <div style='background-image: url(<%= asset_path 'people/jon_bradford.jpg' %>);' class='testimonials_picture'></div>
            </div>
            <div class='span1'></div>
          </div>
        </div>

      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#testimonials_carousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#testimonials_carousel" data-slide="next">&rsaquo;</a>
    </div>

  </div>
</div>
