# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore DB config
/config/database.yml

# Ignore vim temp files
*~
*.swp
*.swo

# Ignore pictures wich get created with rspec and paperclip
/public/system/
