<div class='startup'>

  <div class='startup_image'>
    <%= image_tag startup.logo.url(:standard) %>
  </div>

  <div class='startup_text'>
    <h2><%= link_to startup.name, startup %></h2>
    <p><%= startup.short_description %></p>
  </div>

</div>
