<div class='user_badge'>
  <%= link_to image_tag(gravatar_picture(user, 100), :class => 'img-circle'), user %>
  <p>
    <strong><%= link_to user.username, user, :id => "user_#{user.id}" %></strong>
    <br/>
    <%= user.realname %>
  </p>
</div>
