<div style='clear: both;'>
  <h1>Founders</h1>
  <% @founders.each do |user| %>
    <%= render :partial => 'user_badge', :locals => { :user => user } %>
  <% end %>
</div>

<div style='clear: both;'>
  <h1>Advisory Board</h1>
  <% @advisors.each do |user| %>
    <%= render :partial => 'user_badge', :locals => { :user => user } %>
  <% end %>
</div>

<div style='clear: both;'>
  <h1>Mentors</h1>
  <% @mentors.each do |user| %>
    <%= render :partial => 'user_badge', :locals => { :user => user } %>
  <% end %>
</div>

<div style='clear: both;'>
  <h1>ZIP team members</h1>
  <% @team_members.each do |user| %>
    <%= render :partial => 'user_badge', :locals => { :user => user } %>
  <% end %>
</div>
