<div class='hero-unit'>
  
  <h1>Apply to ZIP!</h1>
  <p style='text-decoration: line-through'>1. Create your user account</p>
  <p>2. Create startup</p>
  <p>3. Submit application</p>

  <div class="progress progress-warning progress-striped active" style='width: 400px;'>
    <div class="bar" style="width: 33%"></div>
  </div>
  
</div>
