<div class='row'>
  <div style='margin: 0px auto; text-align: center;'>
    <h1>You can reach us at 2 locations</h1>
  </div>

  <div class='span6'>
    <h2>ZIP.Factory</h2>
    <p>Remetinečka cesta 7, Zagreb</p>
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=45.781487,15.955943&amp;daddr=&amp;hl=en&amp;geocode=&amp;sll=45.781861,15.957148&amp;sspn=0.010251,0.022037&amp;mra=mift&amp;mrsp=0&amp;sz=16&amp;ie=UTF8&amp;t=m&amp;ll=45.782579,15.955882&amp;spn=0.010475,0.018239&amp;z=15&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=45.781487,15.955943&amp;daddr=&amp;hl=en&amp;geocode=&amp;sll=45.781861,15.957148&amp;sspn=0.010251,0.022037&amp;mra=mift&amp;mrsp=0&amp;sz=16&amp;ie=UTF8&amp;t=m&amp;ll=45.782579,15.955882&amp;spn=0.010475,0.018239&amp;z=15" style="color:#0000FF;text-align:left">View Larger Map</a></small>
    <p>ZIP.Factory is a venue where our startups work on a daily (and nightly :) basis.</p>
    <p>Here parking is plentiful and we’re on the third floor of the “PRIMA namještaj” warehouse (watch for the blue glass entrance).</p>
  </div>

  <div class='span6'>
    <h2>ZIP.Events</h2>
    <p>Ulica kralja Zvonimira 8, Zagreb</p>
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=Kralja+Zvonimira+8,+Zagreb,+Croatia&amp;hl=en&amp;ie=UTF8&amp;sll=37.0625,-95.677068&amp;sspn=47.751524,93.076172&amp;oq=zvonimirov&amp;t=m&amp;hq=Kralja+Zvonimira+8,&amp;hnear=Zagreb,+Zagreb+County+%C5%BEupanija,+Croatia&amp;source=embed&amp;cid=16877365518841884222&amp;ll=45.810136,15.989785&amp;spn=0.01047,0.018239&amp;z=15&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?q=Kralja+Zvonimira+8,+Zagreb,+Croatia&amp;hl=en&amp;ie=UTF8&amp;sll=37.0625,-95.677068&amp;sspn=47.751524,93.076172&amp;oq=zvonimirov&amp;t=m&amp;hq=Kralja+Zvonimira+8,&amp;hnear=Zagreb,+Zagreb+County+%C5%BEupanija,+Croatia&amp;source=embed&amp;cid=16877365518841884222&amp;ll=45.810136,15.989785&amp;spn=0.01047,0.018239&amp;z=15" style="color:#0000FF;text-align:left">View Larger Map</a></small>
    <p>ZIP.Events venue will hold all sorts of open gatherings and lectures for great number of people, organized by ZIP itself or some of the many associations and organizations we collaborate with.</p>
    <p>If you’re coming with car, beware you’ll have to find a spot in some of the nearby streets or public garages (paid), but if you’re coming with a bike, you can enter the building and you’ll find a place to park it inside (just don’t forget to lock it!).</p>
  </div>


</div>
