<%= content_for :header do %>
  <div class='picture_txt' style='margin-top: 40px; margin-left: 20px;'>
    <h1>Zagreb<br/>Entrepreneurship<br/>Incubator</h1>
  </div>
<% end %>

<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
