<h1>New batch</h1>
<p>1st you open a new batch for people to apply to - <strong>best 1 month before deadline.</strong></p>
<p>Than add selected startups from existing ones by going to batch edit</p>
<%= render 'form' %>
