/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

small {
  color: #aaa;
}

.max_width {
  width: 100%;
  max-width: 100%;
}

.hero_background {
  background-color: #151617;
  margin-top: -20px;
}

.hero_image {
  padding: 20px;
  height: 350px;
  background-position: center 40%;
  background-size: 1200px;
  background-repeat: no-repeat;
  display: compact;
}

.picture_txt {
  text-shadow: 0px 5px 24px #000, 1px 1px 2px #000;
  color: white;
  a {color: white};
  a:hover {text-decoration: none; color: white;};
}
