/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* GENERAL */
small {
  color: #aaa;
}

.max_width {
  width: 100%;
  max-width: 100%;
}


/* MAIN */
#footer {
  margin-top: 40px;
  padding: 40px;
  background-color: #252627;
}

/* CAROUSEL */
#startups_carousel {
  margin: 40px 0;
}

#startups_carousel img {
  display: block;
  margin: 0px auto;
}

/* ICONS */
.schematic_icons .row {
  margin-top: 40px;
}

.schematic_icons .span4 {
  text-align: center;
}

.schematic_icons .icon_background {
   padding: 15px;
   color: #9bc957;
   background-color: #444;
   border-radius: 50%;
   width: 150px;
   margin: 0px auto;
}

/* FORMS */
.help-block {
  font-size: 12px;
}
