// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* SUBHERO PICTURES */
.subhero_picture {
  color: #ededed;
  background-size: 450px;
  background-repeat: no-repeat;
  background-position: center;
  text-shadow: 0px 5px 24px #000, 1px 1px 2px #000;
  height: 200px;
}

.subhero_picture h1 {
  padding-top: 75px;
  text-decoration: underline overline;
  text-align: center;
}

/* CAROUSEL */
.carousel_background {
  margin-top: -20px;
  background-color: #151617;
  height: 320px;
  border-bottom: 4px solid #bbb;
}

.hero_carousel {
  padding: 20px;
  height: 280px;
  background-repeat: no-repeat;
  display: compact;
  color: white;
  text-shadow: 0px 5px 24px #000, 1px 1px 2px #000;
}

.hero_carousel h1 {
  font-size: 68px;
  line-height: 72px;
  margin-left: 60px;
}

.hero_carousel h5 { margin-left: 70px; }

.testimonials_picture {
  color: #ededed;
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  border-radius: 50%;
}

/* BADGES */
.partner_badge { height: 150px; }
.partner_badge img {
  margin: 20px 0;
  max-height: 100px;
}

/* WIDGETS */
#testimonials { margin: 80px 0px; }
#testimonials img { max-height: 180px; }

/* TABLES */
table { margin: 30px 0; }
table caption { margin-bottom: 20px; }
