// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_badge {
  text-align: center;
  width: 200px;
  float: left;
  margin: 10px;
}

.user_badge img {
  height: 100px;
  max-height: 100px;
}

.user_badge p {
  margin: 10px 0px;
}
