<div id='footer'>
  <div class='container'>
    <small>© 2013 Zagreb Entrepreneurship Incubator</small>
    <br/>
    <small><%= link_to 'Fork us on GitHub', 'https://github.com/ofcan/zip-home' %></small>
  </div>
</div>
