<div id='footer'>
  <div class='container'>
    <div class='row'>

      <div class='span12'>
        <small>© 2013 Zagreb Entrepreneurship Incubator</small>
        <br/>
        <small><%= link_to raw("Fork us on GitHub <i class='icon-github'></i>"), 'https://github.com/ofcan/zip-home' %></small>
      </div>

    </div>
  </div>
</div>
